*{
    margin: 0;
    padding: 0;
}

body, button {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1 {
    font-weight: 800;
    font-size: 48px;
  }

  .banner p {
    font-size: 16px;
    font-weight: 400;
    max-width: 852px;
    opacity: 70%;
  }

  #programmer {
    height: 240.28px;
    width: 240px;
  }

  .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 581px;
    width: 998px;
    gap: 32px;
  }

  .header{
    background-image: url('../assets/Hero-bg.png');
    background-size: 100% 100%;
    background-position: top left, bottom right;
  }

  #btn-primary{
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 21px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
  }

  main{
    max-width: 1140px;
    margin: 0 auto;
  }

  .reason {
    background-color: #0d132105;
    padding: 80px 97px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 16px;
  }
  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 26px;
    margin-bottom: 48px;
  }

  .title h3{
    font-size: 32px;
    font-weight: 800;
  }

  .title p{
    font-size: 16;
    font-weight: 400;
    opacity: 70%;

  }

  .reason-part{
    display: flex;
    justify-content: space-between;
    padding: 48px 48px;
    margin-bottom: 32px;
    background-color: #FFFFFF;
    border-radius: 16px;
  }

  .side{
    display: flex;
    flex-direction: column;
    width: 447px;
  }

  .side h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #0d1321b3
  }

  .side p{
    font-size: 16px;
    font-weight: 400;
    color: #0d1321b3
  }

  #one{
    height: 240px;
    width: 247.17px;
  }

  .two {
    height: 240px;
    width: 240px;
  }

  .size{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .reason-btn{
    font-size: 20px;
    font-weight: 500;
    height: 47px;
    width: 174px;
    text-align: justify;
    padding: 12px 20px;
    color: #0d1321b3;
    border: 1px solid;
  }

  .video{
    border: 1px solid #0d132133;
    border-radius: 16px;
    padding: 32px 32px;
    margin-bottom: 120px;
  }

  iframe{
    border-radius: 16px;
  }

  .flexing{
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .front-end{
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 219px;
    padding: 40px 40px;
    border-radius: 16px;
    gap: 24px;
  }

  #html{
    background-color: #ff4b1e0d;
  }

  #css{
    background-color: #004de80d;
  }

  #js {
    background-color: #ffdd000d;
  }

  .fe-icons{
    height: 56px;
    width: 56px;
  }

  h4{
    font-size: 24px;
    font-weight: 800;
  }

  .front-end p{
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
  }

  .fe-links{
    font-size: 16px;
    font-weight: 700;
    color: #0D1321;
  }

  .target{
    margin-bottom: 70px;
  }
